*{
    background-color : #121212;
    color: rgba(255, 255, 255, 0.8);
}

.class1 {
    background-color : rgb(17,36,47);
    box-shadow : 4px 4px 10px #777777  /*X-Axis Y-Axis Z-Axis*/;
    border : none;
    font-size : 1em;
    margin : 4em;
    padding : 10px 15px;
    text-align : center;
    border-radius: 5px;

    height : 40px;
    width : 100px;

    transition-property: : font-size height width transform;
    transition-delay: 0.1s;
    transition-duration: 2s;

}

.class1:hover {
    font-size : 1.5em;
    border-radius: 7.5px;

    height : 60px;
    width : 150px;

    transform : rotate(360deg);
}

.class1_1 {
    height: 48px;
    width: 96px;
    font-size: 16px;
    /*----------- rubber button effect ------------- */
    /* box-shadow: 2px 2px 6px rgba(1, 1, 1, 0.7),
                -2px -2px 6px rgba(70, 70, 70, 0.5); */
    /* --------------------------------------------- */
    box-shadow: -2px -2px 6px rgba(70, 70, 70, 0.5),
                -2px -2px 6px rgba(70, 70, 70, 0.3),
                inset 2px 2px 6px rgba(70, 70, 70, 0.2),
                2px 2px 6px rgba(1, 1, 1, 0.7);
    border-radius: 8px;
    border: none;
}

.class1_1:hover {
    /*----------- rubber button effect ------------- */
    /* box-shadow: -2px -2px 6px rgba(1, 1, 1, 0.7),
                2px 2px 6px rgba(70, 70, 70, 0.5); */
    /* --------------------------------------------- */
    box-shadow: inset -2px -2px 6px rgba(70, 70, 70, 0.5),
                inset -2px -2px 6px rgba(70, 70, 70, 0.3),
                2px 2px 6px rgba(70, 70, 70, 0.2),
                inset 2px 2px 6px rgba(1, 1, 1, 0.7);
    transition: box-shadow 0.2s;
}

.class1_1:hover span {
    display: inline-block;
    transform: scale(0.97);
}
