body {
    background-color: #121212;
}

.container {
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 18%;
    width: 1110px;
    height: 580px;
    background-color: inherit;
    border-radius: 16px;

    box-shadow: -4px -4px 8px rgba(70, 70, 70, 0.5),
            inset 4px 4px 8px rgba(70, 70, 70, 0.4)
        ,
            inset -6px -6px 10px rgba(1, 1, 1, 0.4),
                6px 6px 10px rgba(1, 1, 1, 0.5);
}

.white{
    position: absolute;
    top: 40px;
    z-index: 3;
    height: 500px;
    width: 125px;
    border-radius: 8px;
    background-color: #232323;/* rgba(255, 255, 240, 0.75); */

    box-shadow: -2px -2px 4px rgba(70, 70, 70, 0.7),
            inset 2px 2px 4px rgba(70, 70, 70, 0.4)
        ,
            inset -3px -3px 5px rgba(1, 1, 1, 0.4),
                3px 3px 5px rgba(1, 1, 1, 0.7);

}

.white:active {
    animation-name: shadowEffect;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes shadowEffect {
    from {
        transform: scale(1);

        box-shadow: -2px -2px 4px rgba(70, 70, 70, 0.7),
                inset 2px 2px 4px rgba(70, 70, 70, 0.4)
            ,
                inset -3px -3px 5px rgba(1, 1, 1, 0.4),
                    3px 3px 5px rgba(1, 1, 1, 0.7);

    }
    to {
        transform: scale(0.98);

        box-shadow: 2px 2px 4px rgba(70, 70, 70, 0.7),
                inset -2px -2px 4px rgba(70, 70, 70, 0.4)
            ,
                inset 3px 3px 5px rgba(1, 1, 1, 0.4),
                    -3px -3px 5px rgba(1, 1, 1, 0.7);

    }
}

.black {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    height: 290px;
    width: 60px;
    border-radius: 4px;
    background-color: #0F0F0F;

    box-shadow: -2px -2px 4px rgba(70, 70, 70, 0.7),
            inset 2px 2px 4px rgba(70, 70, 70, 0.4)
        ,
            inset -3px -3px 5px rgba(1, 1, 1, 0.4),
                3px 3px 5px rgba(1, 1, 1, 0.7);

}

.black:hover {
    animation-name: shadowEffect;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;

}


#box1 {
    left: 40px;
}

#box2 {
    left: 170px;
}
#box3 {
    left: 300px;
}
#box4 {
    left: 430px;
}
#box5 {
    left: 560px;
}
#box6 {
    left: 690px;
}
#box7 {
    left: 820px;
}
#box8 {
    left: 950px;
}
