body {
    background-color: #121212;
}

.img_list {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 99%;
    padding: 20px;
    background-color: #1C1C1C;
    box-shadow: -2px -2px 6px rgba(70, 70, 70, 0.5)
        ,
                4px 4px 6px rgba(1, 1, 1, 0.7);
    border-radius: 8px;
}

.img_list tr td {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    box-shadow: 2px 2px 8px #111111;

    padding: 0px;

    transform: skewY(0deg);

    /* transition-delay: 0.1s; */
    transition-duration: 0.9s;
    transition-property: box-shadow transform;
}

.img_list tr td:hover {
    box-shadow: 2px 2px 8px #111111;
    transform: skewY(-15deg);
}

#box1 {
    width: 12.5%;
    background-image: url(../res/1.png);
}

#box2 {
    width: 12.5%;
    background-image: url(../res/2.png);
}
#box3 {
    width: 12.5%;
    background-image: url(../res/3.png);
}
#box4 {
    width: 12.5%;
    background-image: url(../res/4.png);
}
#box5 {
    width: 12.5%;
    background-image: url(../res/5.png);
}
#box6 {
    width: 12.5%;
    background-image: url(../res/6.png);
}
#box7 {
    width: 12.5%;
    background-image: url(../res/7.png);
}
#box8 {
    width: 12.5%;
    background-image: url(../res/8.png);
}
