body {
    background-color: #1C1C1C;
}

.class1 {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url("../res/Wall.png");
    transform: skewY(0deg);
    animation-name: ani1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes ani1 {
    0% {
        background-image: url("../res/Wall.png");
        transform: rotateY(0deg);
    }

    50% {
        background-image: url("../res/Wall.png");
        transform: rotateY(90deg);
    }
    51% {
        background-image: url("../res/Wall2.png");
        transform: rotateY(90deg);
    }
    100% {
        background-image: url("../res/Wall2.png");
        transform: rotateY(180deg);
    }

}

.header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 3;
    background-color: #777777;
}

.class2 {
    z-index: -1;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../res/Wall2.png");

    transform: scale(0.5);

    animation-name: ani2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.bdy {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 1000px;
    background-color: #777777;
    padding-top: 100px;
}
@keyframes ani2 {
    form {
        transform: scale(0.5);
    }
    to {
        transform: scale(1.5);
    }
}

.text {
    z-index: 5;
    text-align: center;
    font-size: 2px;

    transform: rotate(0deg);

    animation-name: ani3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


@keyframes ani3 {
    from {
        font-size: 2px;
        transform: rotate(0deg);
    }
    to {
        font-size: 40px;
        transform: rotate(360deg);
    }
}
